.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    display: cover;
    transition: 30s ease; 
}

.sunbox, .sunbox:hover,
.sunbox:active,
.sunbox:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
} 

.interactive:hover {
  transform: scale(1.1);
}