/* div {
  border: 1px solid red;
} */
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: background-color 15s ease;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.sunbox {
  position: absolute;
  top: min 14vh 14vw;
  right: 50%;
  transform: translateX(27vh);
  width: 4vh !important;
  height: 4vh !important; /* Ensure it remains square */
  background-color: transparent;
  border: transparent;
  cursor: pointer; /* Optional: change cursor to indicate it's clickable */
  z-index: 10; /* Ensure it’s above other elements */
}

.sun {
  position: absolute;
  background-color: transparent;
  right: 20%;
  top: 0;
  border: transparent;
  cursor: pointer;
  width: 4vh;
  height: 4vh;
  z-index: 11;
  pointer-events: none;
}

/* Top Bar */
.top-bar {
  position: relative;
  width: 100vh;
  margin: 2vh;
  flex: 0.3;
  max-width: 96vw;
}
.camera {
  background-color: transparent;
  position: absolute;
  color: white;
  margin: 0;
  padding: 0;
  height: 3vh;
  aspect-ratio: 1/1;
  left: 0;
  bottom: 0;
}

/* Center Bar */
.center-bar {
  display: flex;
  width: 100vh;
  flex: 1;
  justify-content: center;
}
.city-container {
  position: relative;
  display: flex;
  aspect-ratio: 7/5;
  width: 70%;
  align-items: flex-end;
  max-width: 96vw;
}
.city-weather {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 84%;
  display: flex;
  justify-content: center;
  align-items: center; /* Semi-transparent white background */
  z-index: 10; /* Ensure it's above city-container */
  pointer-events: none; /* Allow clicking through the overlay */
}

/* Bottom Bar */
.bottom-bar {
  width: 100vw;
  display: flex;
  flex: 1;
  flex-direction: row;
  border-bottom: solid 6px white;
  align-items: flex-end;
}
.title-container {
  width: 30%;
  display: flex;
  justify-content: center;
  height: 20vw;
} 
.ground {
  align-self: flex-end;
  max-height: 50%;
}
.block-menu-container {
  display: flex;
  position: relative;
  justify-content: center; /* Center blocks horizontally */
  align-items: flex-end; /* Align blocks to the bottom */
  flex-direction: row;
  flex-flow: row;
  width: 35%; /* Full width of bottom bar */
  height: 20vw;
}
.block-container {
  display: flex;
  flex-flow: row nonwrap;
  justify-content: center; 
  align-items: flex-end; 
  height: 60%; 
  max-height: 20vh;
  width: 100%; 
}
.block-menu img {
  display: block;
  position: absolute;
}

.shadow {
  filter: drop-shadow(2% 2% #ffffff);
}

.city {
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Include border in width and height calculations */
}


#button, #button:hover,
#button:active,
#button:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
} 

.interactive {
  cursor: pointer;
}
.interactive:hover {
  transform: scale(1.1vw);
}

.sunbox.interactive:hover {
  transform: translateX(27vh) scale(1.1);
}

@media (-webkit-device-pixel-ratio: 3) {
  .sunbox {
    right: 20vw;
    top: 20vh;
    transform: translateX(0vw);
    width: 4vh !important;
    height: 4vh !important; 
    z-index: 10;
  }
  .sunbox.interactive:hover {
    transform: translateX(0vh) scale(1.1);
  }
  .sun {
    right: 0vw;
    top: 0vh;
    width: 2.5vh;
    height: 2.5vh;
  }

  .top-bar {
    position: absolute;
    height: 0;
  }
  
  .city-container {
    position: absolute;
    width: 84vw;
    max-width: 84vw;
    height: 60vw;
    bottom: 55vh;
    align-items: flex-end;
  }

  .floor {
    width: 84vw;
  }

  .bottom-bar {
    position: absolute;
    height: 50vh;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0px;
    padding-bottom: 2vh;
  }

  .title-container {
    width: 90%;
    height: 14vh;
    border-bottom: solid 0.3vh white;
  } 

  .block-menu-container {
    height: 14vh;
    border-bottom: solid 0.3vh white;
    width: 90vw;
  }
  .block-container {
    width: 100vw;
    height: 12vh;
  }
}