.tornado {
    position: absolute;
    height:8svw;
    max-height:15svh;
    bottom: 3.6vh;
    left: 50svw;
    transform: translateX(-29%);
    cursor: pointer;
}

.tornado.absolute {
    position: absolute;
}


.tornado:hover {
    animation: flip-with-scale 0.3s infinite;
}

@keyframes flip-with-scale {
    0% {
        transform: translateX(-29%) perspective(200px) scaleX(1);
    }
    100% {
        transform: translateX(-29%) perspective(200px) scaleX(-1);
    }
}

@keyframes moveToBottomRight {
    0% {
        height:8vw;
        bottom: calc(1.4vw + 2vh);
        left: 48vw;
    }
    100% {
        left: 120%;
        bottom: 15vw;
        height: min(14vh, 12vw);
    }
}

@keyframes moveToBottomLeft {
    0% {
        left: 150%;
        bottom: 0%;
        height: 6vw;
    }
    100% {
        left: calc(50vw - 35vh);
        bottom: min(50vw, 50vh);
        height: min(8.5vh, 6vw);
    }
}

@keyframes moveLeftToRight {
    0% {
        left: calc(50vw - 35vh);
        bottom: min(50vw, 50vh);
        height: min(8.5vh, 6vw);
    }

    20% {
        left: calc(50vw - 20vh);
        bottom: min(50vw, 50vh);
        height: min(20vh, 10vw);
    }

    40% {
        left: calc(50vw - 10vh);
        bottom: min(50vw, 50vh);
        height: min(23vh, 17vw);
    }

    50% {
        left: calc(50vw - 5vh);
        bottom: min(50vw, 50vh);
        height: min(24vh, 19vw);
    }

    60% {
        left: calc(50vw + 5vh);
        bottom: min(50vw, 50vh);
        height: min(23vh, 17vw);
    }

    70% {
        left: calc(50vw + 20vh);
        bottom: min(50vw, 50vh);
        height: min(21vh, 14vw);
    }

    100% {
        left: calc(50vw + 32vh);
        bottom: min(50vw, 50vh);
        height: 5%;
    }
}

@keyframes moveBack {
    0% {
        left: 50.2svw;
        bottom: 3.6vh;
        height: 1vh;
        transform: translateX(-29%);
    }
    100% {
        left: 50svw;
        bottom: 3.6vh;
        transform: translateX(-29%);
        height: min(16vh, 8vw);
    }
}

.tornado.move-to-bottom-right {
    animation: moveToBottomRight 0.3s forwards, flip-with-scale 0.3s infinite
}

.tornado.move-to-bottom-left {
    animation: moveToBottomLeft 0.7s forwards, flip-with-scale 0.3s infinite
}

.tornado.move-left-to-right {
    animation: moveLeftToRight 1.0s ease-in, flip-with-scale 0.3s infinite
}

.tornado.move-back {
    animation: moveBack 1.5s, flip-with-scale 0.3s infinite
}

@media all and (max-width: 760px) {
    .tornado {
        height:5.5svh;
        bottom: 17svh;
        left: 50svw;
        z-index: 10;
    }

    @keyframes moveToBottomRight {
        0% {
            height:5.5svh;
            bottom: 17svh;
            left: 50svw;
        }
        100% {
            left: 150%;
            bottom: 40svh;
            height: 7svh;
        }
    }

    @keyframes moveToBottomLeft {
    0% {
        left: 150%;
        bottom: 40svh;
        height: 6vw;
    }
    100% {
        left: 15svw;
        bottom: calc(55svh + 7svw);
        height: min(10svh, 8svw);
    }
}

@keyframes moveLeftToRight {
    0% {
        left: 15svw;
        bottom: calc(55svh + 7svw);
        height: min(10vh, 8vw);
    }

    20% {
        left: 20svw;
        bottom: calc(55svh + 7svw);
        height: min(20vh, 13vw);
    }

    40% {
        left: 30svw;
        bottom: calc(55svh + 7svw);
        height: min(23vh, 17vw);
    }

    50% {
        left: 45svw;
        bottom: calc(55svh + 7svw);
        height: min(24vh, 18vw);
    }

    60% {
        left: 50svw;
        bottom: calc(55svh + 7svw);
        height: min(23vh, 17vw);
    }

    70% {
        left: 60svw;
        bottom: calc(55svh + 7svw);
        height: min(21vh, 14vw);
    }

    100% {
        left: 85svw;
        bottom: calc(55svh + 7svw);
        height: 5%;
    }
}

    @keyframes moveBack {
        0% {
            height:0.5svh;
            bottom: 17svh;
            left: 48.5svw;
        }
        100% {
            height:5.5svh;
            bottom: 17svh;
            left: 50svw;
        }
    }
}
@keyframes rattle {
    0%, 100% {
        transform: translateX(-30%);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-30%);
    }
    75% {
        transform: translateX(-25%);
    }
}

.rattle-animation {
    animation: rattle 0.1s linear 10;
}
